@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* These styles ensure crisp fonts */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  -webkit-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  letter-spacing: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
